* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0;
    padding:0;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */

.header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
}

h1 {
    font-size:60px;
    font-weight:normal;
    margin:0 0 10px 0;
    overflow:visible;
    padding:20px 0 0 0;
    text-align:center;
}

.app {
    margin-top: 100px;
    text-align:center;
}

.citation_block {
    background-color: #A7A7A7;
    margin: 5px;
    padding: 5px;
}

.textSource, .text, .likesCount, .creationDate, .id {
    font-size: 50px;
}

.textSource {
    text-align: right;
}
.text, .partialText{
    text-align: justify;
}
.text {
    text-align: justify;
}
.likesCount {
    text-align: left;
}
.creationDate {
    text-align: left;
}
.id {
    text-align: left;
}