@font-face {
  font-family: PFDinLight;
  src: url('../fonts/pfdintextcondpro-light.ttf') format('truetype');
}
.f_PFDinLight {
  font-family: PFDinLight;
}
@font-face {
  font-family: PFDinXBlack;
  src: url('../fonts/pfdintextcondpro-xblack.ttf') format('truetype');
}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro_regular/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.f_PFDinXBlack {
  font-family: PFDinXBlack;
}
body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    font-size: 1em;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  /* header  */
    .header_st{
        background: url("../img/bg_dark_red.png");
        line-height:0;
        margin-top:0;
        
    }
    .header_st div{
        display: inline-block;
        position:relative;


    }
    .ant{
        background: url("../img/ant_3.png") center center no-repeat;
        margin:3px;
        width:17px;
        height:17px;
        
        
    }
    .setting{
        background: url("../img/settings.png") center center no-repeat;
        margin:3px;
        width:17px;
        height:17px;         
    }
    .text_head{
        text-transform: uppercase;
        font-size: 1.08em;
        color:#fff;
        top:-5px;
        margin: 0 15.741% 0 11.111%;
        font-family: PFDinLight;
        
    }
    .lline,.dline{
        width:0.834%;
        height:23px;
        margin-left: -0.834%;
    }
    .lline{
        background:url("../img/bg_dark_red_left.png");
    }
    .dline{
        background:url("../img/bg_dark_red_right.png");
    }
    /*settings menu*/
    .settings_menu ul{
        margin-top:20px;
        padding:0;
        width:100%;
    }
    .settings_menu li{
        list-style: none;
        display: block;
        background: url("../img/bg_menu_settings.png");
        border-bottom:1px solid #c1c1c1;
        padding-left:13.333%;
        height:50px;
    }
    .text_item{
        font-family: PFDinLight;
        color:#383838;
    }
    .text_item .name{
        text-transform: capitalize;
        font-size: 1em;
        padding-top: 8px;
    }
    .item7>span{
        text-transform: none;
    }
    .text_item .discription{
        font-size: 0.75em;
        
    }

    /* option_item styles*/
    .text_item,.option_item{
        display: inline-block;
    }

    /* switch on */

    .option_item{
        margin-right: 5%;
        float:right;
        font-family: 'source_sans_proregular';
        font-size: 0.6em;
        color:#bdbebe;
        margin-top: 13px;
        text-transform: uppercase;
    }
    .on, .off{
        width:60px;
        border-radius: 30px;
        background: #e0e2e2;
        float:right;
         padding: 2px 0;
    }
    .text_on{
      margin:5px 0 5px 10px;
      
    }
    .on div, .off div{
        display: inline-block;
    }
    .circle{
        width:22px;
        height:22px;
        border-radius:11px;

    }
    .on>.circle{
        background:url("../img/bg_dark_red_right.png");
        float:right;
        margin-right: 2px;
    }
    .menu_items .item1 .off{
        display: none;
    }
    .menu_items .item2 .on{
        display: none;
    }
     
     /* switch off */
     
    .text_off{
        margin:5px 10px 5px 0;
        float:right;

    }
    .off>.circle{
       background-color: #ffffff;
        float:left;
        margin-left: 2px; 
    }

    /* option item3 */
    .facebook, .twitter{
        display: inline-block;        
        border-radius:15px;
        
    }
     .twitter{
        background: url("../img/bg_dark_red_right.png");
        width:30px;
        height:30px;
        
    }
    .tw_icon{
        width:30px;
        height:30px;
        background: url("../img/twitter_2.png") center center no-repeat;
        
      }
    .facebook{
       background: url("../img/bg_menu_settings.png");
       border:1px solid #bdbebe;
       width:29px;
       height:29px;
       margin-right:15px;
    }
    .fb_icon{
        width:100%;
        height:100%;
        background:url("../img/facebook_2.png") center center no-repeat;
       
    }
    /* item4 */
    .item4>.option_item>div{
      font-size: 1.5em;
    }
    .item4 div{
       
        font-family: PFDinLight;
        color:#383838;
        text-transform: none;
    }
    .item4 .add{
        display: none;
    }
    .item4 .proced{
        display: none;
    }
    .status div{
        display: inline-block;
    }
    .amin_num{
        color: #cd2424!important;
    }
    .mrgn{
        margin-left:10px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  /* header  */
    .header_st{
        background: url("../img/bg_dark_red.png");
        line-height:0;
        margin-top:-10px;
        
    }
    .header_st div{
        display: inline-block;
        position:relative;


    }
    .ant{
        background: url("../img/ant.png") no-repeat;
        margin:3.148%;
        width:4.814%;
        height: 52px;
        
    }
    .setting{
        background: url("../img/settings_big.png") no-repeat;
        margin:3.148%;
        width:4.814%;
        height: 52px;
         
    }
    .text_head{
        text-transform: uppercase;
        font-size: 3.75em;
        color:#fff;
        top:-36px;
        margin: 0 15.741% 0 11.111%;
        font-family: PFDinLight;
        
    }
    .lline,.dline{
        width:0.278%;
        height:120px;
        margin-left: -0.278%;
    }
    .lline{
        background:url("../img/bg_dark_red_left.png");
    }
    .dline{
        background:url("../img/bg_dark_red_right.png");
    }
    /*settings menu*/
    .settings_menu ul{
        margin-top:60px;
        padding:0;
        width:100%;
    }
    .settings_menu li{
        list-style: none;
        display: block;
        background: url("../img/bg_menu_settings.png");
        border-bottom:4px solid #c1c1c1;
        padding-left:11.111%;
        height:200px;
    }
    .text_item{
        font-family: PFDinLight;
        color:#383838;
    }
    .text_item .name{
        text-transform: capitalize;
        font-size: 3.125em;
        padding-top: 64px;
    }
    .item7>span{
        text-transform: none;
    }
    .text_item .discription{
        font-size: 2.125em;
        padding-bottom: 54px;
    }

    /* option_item styles*/
    .text_item,.option_item{
        display: inline-block;
    }

    /* switch on */

    .option_item{
        margin-right: 120px;
        float:right;
        font-family: 'source_sans_proregular';
        font-size: 1.5em;
        color:#bdbebe;
        margin-top: 77px;
        text-transform: uppercase;
    }
    .on, .off{
        width:140px;
        border-radius: 40px;
        background: #e0e2e2;
        float:right;
         padding: 4px 0;
    }
    .text_on{
      margin:5px 0 5px 22px;
      
    }
    .on div, .off div{
        display: inline-block;
    }
    .circle{
        width:40px;
        height:40px;
        border-radius: 20px;

    }
    .on>.circle{
        background:url("../img/bg_dark_red_right.png");
        float:right;
        margin-right: 4px;
    }
    .menu_items .item1 .off{
        display: none;
    }
    .menu_items .item2 .on{
        display: none;
    }
     
     /* switch off */
     
    .text_off{
        margin:5px 22px 5px 0;
        float:right;

    }
    .off>.circle{
       background-color: #ffffff;
        float:left;
        margin-left: 4px; 
    }

    /* option item3 */
    .facebook, .twitter{
        display: inline-block;
        
        border-radius:30px;
    }
     .twitter{
        background: url("../img/bg_dark_red_right.png");
        width:60px;
        height:60px;
        
    }
    .tw_icon{
        width:60px;
        height:60px;
        background: url("../img/twitter.png") no-repeat;
        margin:19px;
      }
    .facebook{
       background: url("../img/bg_menu_settings.png");
       border:2px solid #bdbebe;
       width:58px;
       height:58px;
       margin-right:60px;
    }
    .fb_icon{
        width:100%;
        height:100%;
        background:url("../img/facebook.png") no-repeat;
        margin:19px;
    }
    /* item4 */
    .item4>.option_item>div{
      font-size: 1.5em;
    }
    .item4 div{
       
        font-family: PFDinLight;
        color:#383838;
        text-transform: none;
    }
    .item4 .add{
        display: none;
    }
    .item4 .proced{
        display: none;
    }
    .status div{
        display: inline-block;
    }
    .amin_num{
        color: #cd2424!important;
    }
    .mrgn{
        margin-left:58px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* header  */
    .header_st{
        background: url("../img/bg_dark_red.png");
        line-height:0;
        margin-top:0px;
        
    }
    .header_st div{
        display: inline-block;
        position:relative;
    }
    .ant{
        background: url("../img/ant_2.png") center center no-repeat;
        width:26px;
        height:26px;
        
    }
    .setting{
        background: url("../img/settings_2.png") center center no-repeat;
        width:26px;
        height:26px;
         
    }
    .text_head{
        text-transform: uppercase;
        font-size: 1.4em;
        color:#fff;
        top:-15px;
        margin: 0 10.484% 0 8%;
        font-family: PFDinLight;
        
    }
    .lline,.dline{
        width:1.5px;
        height:45px;
        margin-left: -1.5px;
    }
    .lline{
        background:url("../img/bg_dark_red_left.png");
    }
    .dline{
        background:url("../img/bg_dark_red_right.png");
    }
    /*settings menu*/
     .settings_menu ul{
        margin-top:20px;
        padding:0;
        width:100%;
    }
    .settings_menu li{
        list-style: none;
        display: block;
        background: url("../img/bg_menu_settings.png");
        border-bottom:2px solid #c1c1c1;
        padding-left:16.666%;
        height:80px;
    }
    .text_item{
        font-family: PFDinLight;
        color:#383838;
    }
    .text_item .name{
        text-transform: capitalize;
        font-size: 1.2em;
        padding-top: 18px;
    }
    .item7>span{
        text-transform: none;
    }
    .text_item .discription{
        font-size: 1em;
        
    }
    /* option_item styles*/
    .text_item,.option_item{
        display: inline-block;
    }

    /* switch on */

     .option_item{
        margin-right:5%;
        float:right;
        font-family: 'source_sans_proregular';
        font-size: 0.6em;
        color:#bdbebe;
        margin-top: 25px;
        text-transform: uppercase;
    }
    .on, .off{
        width:80px;
        border-radius: 40px;
        background: #e0e2e2;
        float:right;
         padding: 2px 0;
    }
    .text_on{
        margin:6px 0 6px 15px;
    }
    .on div, .off div{
        display: inline-block;
    }
    .circle{
        width:26px;
        height:26px;
        border-radius: 13px;

    }
    .on>.circle{
        background:url("../img/bg_dark_red_right.png");
        float:right;
        margin-right: 2px;
    }
    .menu_items .item1 .off{
        display: none;
    }
    .menu_items .item2 .on{
        display: none;
    }
     
     /* switch off */
     
    .text_off{
        margin:6px 15px 6px 0;
        float:right;

    }
    .off>.circle{
       background-color: #ffffff;
        float:left;
        margin-left: 2px; 
    }

    /* option item3 */
    .facebook, .twitter{
        display: inline-block;
        
        border-radius:30px;
    }
     .twitter{
        background: url("../img/bg_dark_red_right.png");
        width:30px;
        height:30px;
        
    }
    .tw_icon{
        width:30px;
        height:30px;
        background: url("../img/twitter_2.png") no-repeat;
        margin:9px;
      }
    .facebook{
       background: url("../img/bg_menu_settings.png");
       border:1px solid #bdbebe;
       width:29px;
       height:29px;
       margin-right:20px;
    }
    .fb_icon{
        width:100%;
        height:100%;
        background:url("../img/facebook_2.png") no-repeat;
        margin:9px;
    }
    /* item4 */
    .item4>.option_item>div{
      font-size: 1.5em;
    }
    .item4 div{
       
        font-family: PFDinLight;
        color:#383838;
        text-transform: none;
    }
    .item4 .add{
        display: none;
    }
    .item4 .proced{
        display: none;
    }
    .status div{
        display: inline-block;
    }
    .amin_num{
        color: #cd2424!important;
    }
    .mrgn{
        margin-left:20px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* header  */
     .header_st{
        background: url("../img/bg_dark_red.png");
        line-height:0;
        margin-top:0px;
        
    }
    .header_st div{
        display: inline-block;
        position:relative;
    }
    .ant{
        background: url("../img/ant_2.png") no-repeat;
        width:26px;
        height:26px;
        
        
    }
    .setting{
        background: url("../img/settings_2.png") no-repeat;
        width:26px;
        height:26px;
        
         
    }
    .text_head{
        text-transform: uppercase;
        font-size: 1.5em;
        color:#fff;
        top: -15px;
        margin: 0 20px 0 20px;
        font-family: PFDinLight;
        
    }
    .lline,.dline{
        width:0.069%;
        height:50px;
        margin-left: -0.069%;
    }
    .lline{
        background:url("../img/bg_dark_red_left.png");
    }
    .dline{
        background:url("../img/bg_dark_red_right.png");
    }
    /*settings menu*/
    .settings_menu ul{
        margin-top:30px;
        padding:0;
        width:100%;
    }
    .settings_menu li{
        list-style: none;
        display: block;
        background: url("../img/bg_menu_settings.png");
        border-bottom:2px solid #c1c1c1;
        padding-left:5.556;
        height:100px;
    }
    .text_item{
        font-family: PFDinLight;
        color:#383838;
    }
    .text_item .name{
        text-transform: capitalize;
        font-size: 1.653em;
         padding-top: 20px;
    }
    .item7>span{
        text-transform: none;
    }
    .text_item .discription{
        font-size: 1.063em;
        padding-bottom: 0px;
    }
    /* option_item styles*/
    .text_item,.option_item{
        display: inline-block;
    }

    /* switch on */

    .option_item{
        margin-right: 45px;
        float:right;
        font-family: 'source_sans_proregular';
        font-size: 0.75em;
        color:#bdbebe;
        margin-top: 38px;
        text-transform: uppercase;
    }
    .on, .off{
        width:70px;
        border-radius: 35px;
        background: #e0e2e2;
        float:right;
         padding: 2px 0;
    }
    .text_on{
      margin:2.5px 0 2.5px 11px;
      
    }
    .on div, .off div{
        display: inline-block;
    }
    .circle{
        width:20px;
        height:20px;
        border-radius: 10px;

    }
    .on>.circle{
        background:url("../img/bg_dark_red_right.png");
        float:right;
        margin-right: 2px;
    }
    .menu_items .item1 .off{
        display: none;
    }
    .menu_items .item2 .on{
        display: none;
    }
     
     /* switch off */
     
    .text_off{
        margin:2.5px 11px 2.5px 0;
        float:right;

    }
    .off>.circle{
       background-color: #ffffff;
        float:left;
        margin-left: 2px; 
    }
    /* option item3 */
    .facebook, .twitter{
        display: inline-block;
        
        border-radius:30px;
    }
     .twitter{
        background: url("../img/bg_dark_red_right.png");
        width:30px;
        height:30px;
        
    }
    .tw_icon{
        width:30px;
        height:30px;
        background: url("../img/twitter_2.png") no-repeat;
        margin:9px;
      }
    .facebook{
       background: url("../img/bg_menu_settings.png");
       border:1px solid #bdbebe;
       width:29px;
       height:29px;
       margin-right:30px;
    }
    .fb_icon{
        width:100%;
        height:100%;
        background:url("../img/facebook_2.png") no-repeat;
        margin:9px;
    }
    /* item4 */
    .item4>.option_item>div{
      font-size: 1.2em;
    }
    .item4 div{
       
        font-family: PFDinLight;
        color:#383838;
        text-transform: none;
    }
    .item4 .add{
        display: none;
    }
    .item4 .proced{
        display: none;
    }
    .status div{
        display: inline-block;
    }
    .amin_num{
        color: #cd2424!important;
    }
    .mrgn{
        margin-left:29px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  /* header  */
    .header_st{
        background: url("../img/bg_dark_red.png");
        line-height:0;
        margin-top:0;
        
    }
    .header_st div{
        display: inline-block;
        position:relative;


    }
    .ant{
        background: url("../img/ant_3.png") center center no-repeat;
        width:17px;
        height:17px;
    }
    .setting{
        background: url("../img/settings.png") center center no-repeat;
        width:17px;
        height:17px;
        
         
    }
    .text_head{
        text-transform: uppercase;
        font-size: 1.25em;
        color:#fff;
        top:-12px;
        margin: 0 56.667px 0 40px%;
        font-family: PFDinLight;
        
    }
    .lline,.dline{
        width:0.093%;
        height:40px;
        margin-left: -0.093%;
    }
    .lline{
        background:url("../img/bg_dark_red_left.png");
    }
    .dline{
        background:url("../img/bg_dark_red_right.png");
    }
    /*settings menu*/
    .settings_menu ul{
        margin-top:20px;
        padding:0;
        width:100%;
    }
    .settings_menu li{
        list-style: none;
        display: block;
        background: url("../img/bg_menu_settings.png");
        border-bottom:2px solid #c1c1c1;
        padding-left:11.111%;
        height:66px;
    }
    .text_item{
        font-family: PFDinLight;
        color:#383838;
    }
    .text_item .name{
        text-transform: capitalize;
        font-size: 1.04em;
        padding-top: 21px;
    }
    .item7>span{
        text-transform: none;
    }
    .text_item .discription{
        font-size: 0.708em;
        padding-bottom: 18px;
    }

    /* option_item styles*/
    .text_item,.option_item{
        display: inline-block;
    }

    /* switch on */

    
    .option_item{
        margin-right: 40px;
        float:right;
        font-family: 'source_sans_proregular';
        font-size: 0.5em;
        color:#bdbebe;
        margin-top: 25.667px;
        text-transform: uppercase;
    }
    .on, .off{
        width:50px;
        border-radius: 25px;
        background: #e0e2e2;
        float:right;
         padding: 1.5px;
    }
    .text_on{
      margin:1.5px 0 1.5px 6px;
      
    }
    .on div, .off div{
        display: inline-block;
    }
    .circle{
        width:14px;
        height:14px;
        border-radius: 7px;

    }
    .on>.circle{
        background:url("../img/bg_dark_red_right.png");
        float:right;
        margin-right: 1.5px;
    }
    .menu_items .item1 .off{
        display: none;
    }
    .menu_items .item2 .on{
        display: none;
    }
     
     /* switch off */
     
    .text_off{
        margin:1.5px 6px 1.5px 0;
        float:right;

    }
    .off>.circle{
       background-color: #ffffff;
        float:left;
        margin-left: 1.5px; 
    }

    /* option item3 */
    .facebook, .twitter{
        display: inline-block;
        
        
    }
     .twitter{
        background: url("../img/bg_dark_red_right.png");
        width:20px;
        height:20px;
        
    }
    .tw_icon{
        width:100%;
        height:100%;
        background: url("../img/twitter_3.png") no-repeat;
        margin:6px;
      }
    .facebook{
       background: url("../img/bg_menu_settings.png");
       border:1px solid #bdbebe;
       width:19px;
       height:19px;
       margin-right:20px;
    }
    .fb_icon{
        width:100%;
        height:100%;
        background:url("../img/facebook_3.png") no-repeat;
        margin:6px;
    }
    /* item4 */
    .item4>.option_item>div{
      font-size: 1.5em;
    }
    .item4 div{
       
        font-family: PFDinLight;
        color:#383838;
        text-transform: none;
    }
    .item4 .add{
        display: none;
    }
    .item4 .proced{
        display: none;
    }
    .status div{
        display: inline-block;
    }
    .amin_num{
        color: #cd2424!important;
    }
    .mrgn{
        margin-left:19px;
    }
}
