* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
/* fonts */
@font-face {
  font-family: PFDinLight;
  src: url('../fonts/pfdintextcondpro-light.ttf') format('truetype');
}
.f_PFDinLight {
  font-family: PFDinLight;
}
@font-face {
  font-family: PFDinXBlack;
  src: url('../fonts/pfdintextcondpro-xblack.ttf') format('truetype');
}
.f_PFDinXBlack {
  font-family: PFDinXBlack;
}
/* colors */
.c_white {
  color: #ffffff;
}
.bg_white {
  background-color: #ffffff;
}
.c_signal_black {
  color: #333333;
}
.c_pearl {
  color: #919191;
}
.bg_gainsborough {
  background-color: #e8e8e8;
}
/* левая кнопка в футере */
.bg_deep_red_orange {
  background-color: #c21616;
}
/* хеадер, средняя и правая кнопки, фон цитаты */
.bg_dark_r {
  background-color: #cd2424;
}
.c_krayola {
  color: #d24848;
}
/* dimensions */
.fs40_m75 {
  font-size: 26.66666667px;
}
.fs60_m75 {
  font-size: 40px;
}
.fs40_m1 {
  font-size: 20px;
}
.fs60_m1 {
  font-size: 30px;
}
.fs40_m15 {
  font-size: 13.33333333px;
}
.fs60_m15 {
  font-size: 20px;
}
.fs40_m2 {
  font-size: 10px;
}
.fs60_m2 {
  font-size: 15px;
}
.fs40_m3 {
  font-size: 12.5px;
}
.fs60_m3 {
  font-size: 18.75px;
}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
/*
@media screen and (-webkit-min-device-pixel-ratio: 1) {}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {}
@media screen and (-webkit-min-device-pixel-ratio: 2) {}
@media screen and (-webkit-min-device-pixel-ratio: 3) {}
*/
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: PFDinLight;
  background: url("../img/bg_dark_red.png");
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .header {
    height: 60px;
    padding-top: 20px;
    font-size: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    height: 45px;
    padding-top: 15px;
    font-size: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .header {
    height: 30px;
    padding-top: 10px;
    font-size: 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    height: 22.5px;
    padding-top: 7.5px;
    font-size: 15px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .header {
    height: 28.125px;
    padding-top: 9.375px;
    font-size: 18.75px;
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: url("../img/menu.png") center center no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .menu {
    height: 80px;
    width: 80px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .menu {
    height: 60px;
    width: 60px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .menu {
    height: 40px;
    width: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    height: 30px;
    width: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .menu {
    height: 37.5px;
    width: 37.5px;
  }
}
.settings {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  background: url("../img/settings.png") center center no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .settings {
    height: 80px;
    width: 80px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .settings {
    height: 60px;
    width: 60px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .settings {
    height: 40px;
    width: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .settings {
    height: 30px;
    width: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .settings {
    height: 37.5px;
    width: 37.5px;
  }
}
.header_after {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
  opacity: 0.7;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .header_after {
    top: 80px;
    height: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .header_after {
    top: 60px;
    height: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .header_after {
    top: 40px;
    height: 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .header_after {
    top: 30px;
    height: 15px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .header_after {
    top: 37.5px;
    height: 18.75px;
  }
}
.test {
  width: 100px;
  height: 100px;
  background-color: chocolate;
  border: 5px dashed fuchsia;
  position: relative;
}
.test:after {
  position: relative;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .test:after {
    content: 'ratio: 0.75';
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .test:after {
    content: 'ratio: 1';
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .test:after {
    content: 'ratio: 1.5';
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .test:after {
    content: 'ratio: 2';
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2.5) {
  .test:after {
    content: 'ratio: 2.5';
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .test:after {
    content: 'ratio: 3';
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3.5) {
  .test:after {
    content: 'ratio: 3.5';
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .app {
    margin: 40px 0 40px 0;
    padding: 40px 10% 60px 10%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .app {
    margin: 60px 0 60px 0;
    padding: 30px 10% 60px 10%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .app {
    margin: 20px 0 20px 0;
    padding: 20px 10% 60px 10%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .app {
    margin: 15px 0 15px 0;
    padding: 15px 10% 60px 10%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .app {
    margin: 18.75px 0 18.75px 0;
    padding: 18.75px 10% 60px 10%;
  }
}
.app .citation_text {
  font-family: PFDinLight;
  color: #333333;
  line-height: 1.2;
  text-align: left;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .app .citation_text {
    font-size: 26.66666667px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .app .citation_text {
    font-size: 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .citation_text {
    font-size: 13.33333333px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .app .citation_text {
    font-size: 10px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .app .citation_text {
    font-size: 12.5px;
  }
}
.app .textSource {
  font-family: PFDinLight;
  color: #333333;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .app .textSource {
    font-size: 26.66666667px;
    margin-top: 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .app .textSource {
    font-size: 20px;
    margin-top: 15px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .textSource {
    font-size: 13.33333333px;
    margin-top: 10px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .app .textSource {
    font-size: 10px;
    margin-top: 7.5px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .app .textSource {
    font-size: 12.5px;
    margin-top: 9.375px;
  }
}
.app .citation .text {
  position: relative;
  background: url("../img/bg_dark_red.png");
  color: #ffffff;
  font-family: PFDinXBlack;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .app .citation .text {
    margin: 40px 0;
    padding: 40px;
    font-size: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .app .citation .text {
    margin: 30px 0;
    padding: 30px;
    font-size: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .citation .text {
    margin: 20px 0;
    padding: 20px;
    font-size: 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .app .citation .text {
    margin: 15px 0;
    padding: 15px;
    font-size: 15px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .app .citation .text {
    margin: 18.75px 0;
    padding: 18.75px;
    font-size: 18.75px;
  }
}
.app .citation .text img {
  float: right;
  margin-top: 5px;
}
.app .citation .text:after {
  position: absolute;
  content: url("../img/citation_signature.png");
  bottom: 30px;
  left: 30px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .app .citation .text:after {
    bottom: 40px;
    left: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .app .citation .text:after {
    bottom: 30px;
    left: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .citation .text:after {
    bottom: 20px;
    left: 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .app .citation .text:after {
    bottom: 15px;
    left: 15px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .app .citation .text:after {
    bottom: 18.75px;
    left: 18.75px;
  }
}
.app .citation .citation_share {
  width: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .app .citation .citation_share {
    margin: 0 0 26.66666667px 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .app .citation .citation_share {
    margin: 0 0 20px 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .citation .citation_share {
    margin: 0 0 13.33333333px 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .app .citation .citation_share {
    margin: 0 0 10px 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .app .citation .citation_share {
    margin: 0 0 12.5px 0;
  }
}
.app .citation .citation_share .amen {
  float: left;
}
.app .citation .citation_share .amen .likes {
  float: left;
  text-align: left;
  padding-left: 5px;
}
.app .citation .citation_share .share {
  float: right;
}
.app .citation .citation_share .amen,
.app .citation .citation_share .share {
  width: 45%;
  text-align: center;
  font-family: PFDinLight;
  text-transform: uppercase;
  line-height: 1;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .app .citation .citation_share .amen,
  .app .citation .citation_share .share {
    height: 33.33333333px;
    padding: 6.66666667px 0 0 0;
    font-size: 26.66666667px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .app .citation .citation_share .amen,
  .app .citation .citation_share .share {
    height: 25px;
    padding: 5px 0 0 0;
    font-size: 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .citation .citation_share .amen,
  .app .citation .citation_share .share {
    height: 16.66666667px;
    padding: 3.33333333px 0 0 0;
    font-size: 13.33333333px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .app .citation .citation_share .amen,
  .app .citation .citation_share .share {
    height: 12.5px;
    padding: 2.5px 0 0 0;
    font-size: 10px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .app .citation .citation_share .amen,
  .app .citation .citation_share .share {
    height: 15.625px;
    padding: 3.125px 0 0 0;
    font-size: 12.5px;
  }
}
.app .citation .citation_share .on {
  background: url("../img/bg_dark_red.png");
  color: #ffffff;
}
.app .citation .citation_share .off {
  background-color: #e8e8e8;
  color: #919191;
}
.app .citation .creationDate {
  color: #333333;
  font-family: PFDinLight;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .app .citation .creationDate {
    font-size: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .app .citation .creationDate {
    font-size: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .citation .creationDate {
    font-size: 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .app .citation .creationDate {
    font-size: 15px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .app .citation .creationDate {
    font-size: 18.75px;
  }
}
.footer_before {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  opacity: 0.7;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .footer_before {
    height: 40px;
    bottom: 80px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .footer_before {
    height: 30px;
    bottom: 60px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .footer_before {
    height: 20px;
    bottom: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .footer_before {
    height: 15px;
    bottom: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .footer_before {
    height: 18.75px;
    bottom: 37.5px;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #cd2424;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .footer {
    height: 80px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    height: 60px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .footer {
    height: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    height: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .footer {
    height: 37.5px;
  }
}
.footer .footer_btn {
  height: 100%;
  float: left;
  font-family: PFDinLight;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  .footer .footer_btn {
    padding: 20px 0 0 0;
    font-size: 40px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .footer .footer_btn {
    padding: 15px 0 0 0;
    font-size: 30px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .footer .footer_btn {
    padding: 10px 0 0 0;
    font-size: 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .footer .footer_btn {
    padding: 7.5px 0 0 0;
    font-size: 15px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .footer .footer_btn {
    padding: 9.375px 0 0 0;
    font-size: 18.75px;
  }
}
.footer .hadis {
  width: 30%;
  background: url("../img/bg_red_orange_right.png") right repeat-y, url("../img/bg_red_orange.png");
}
.footer .book {
  width: 30%;
  background: url("../img/bg_dark_red_left.png") left repeat-y, url("../img/bg_dark_red_right.png") right repeat-y, url("../img/bg_dark_red.png");
}
.footer .add {
  width: 40%;
  background: url("../img/bg_dark_red_left.png") left repeat-y, url("../img/bg_dark_red.png");
}
.footer .on {
  color: #ffffff;
}
.footer .off {
  color: #d24848;
}
.clear {
  clear: both;
}
