* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  //font-family: 'PF Din Text Cond Pro Light';
}
//TODO: 3. json(p)

/* fonts */
@font-face {
  font-family: PFDinLight;
  src: url('../fonts/pfdintextcondpro-light.ttf') format('truetype');
}
.f_PFDinLight {font-family: PFDinLight;}

@font-face {
  font-family: PFDinXBlack;
  src: url('../fonts/pfdintextcondpro-xblack.ttf') format('truetype');
}
.f_PFDinXBlack {font-family: PFDinXBlack;}

/* colors */
@c_white: #fff;
.c_white {color: @c_white;}
.bg_white {background-color: @c_white}

@c_signal_black: #333;
.c_signal_black {color: @c_signal_black
}

@c_pearl_light_gray: #919191;
.c_pearl {color: @c_pearl_light_gray}

@c_gainsborough: #e8e8e8;
.bg_gainsborough {background-color: @c_gainsborough}

/* левая кнопка в футере */
@c_deep_red_orange: #c21616;
.bg_deep_red_orange {background-color: @c_deep_red_orange}


/* хеадер, средняя и правая кнопки, фон цитаты */
@c_dark_r: #cd2424;
.bg_dark_r {background-color: @c_dark_r}


@c_krayola: #d24848;
.c_krayola {color: @c_krayola}

/* dimensions */
@height: 120px / 2;

@fs40: 40px / 2;
@fs60: 60px / 2;

@m75: 0.75;
@m15: 1.5;
@m2: 2;
@m3: 1.6;

.fs40_m75 {font-size: @fs40 / @m75}
.fs60_m75 {font-size: @fs60 / @m75}

.fs40_m1 {font-size: @fs40}
.fs60_m1 {font-size: @fs60}

.fs40_m15 {font-size: @fs40 / @m15}
.fs60_m15 {font-size: @fs60 / @m15}

.fs40_m2 {font-size: @fs40 / @m2}
.fs60_m2 {font-size: @fs60 / @m2}

.fs40_m3 {font-size: @fs40 / @m3}
.fs60_m3 {font-size: @fs60 / @m3}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: @c_white;
  height: 100%;
  width: 100%;
}

/*
@media screen and (-webkit-min-device-pixel-ratio: 1) {}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {}
@media screen and (-webkit-min-device-pixel-ratio: 2) {}
@media screen and (-webkit-min-device-pixel-ratio: 3) {}
*/
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  text-align: center;
  .c_white;
  text-transform: uppercase;
  .f_PFDinLight;
  background: url("../img/bg_dark_red.png");
  @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
    height: (@height - 15px) / @m75;
    padding-top: 15px / @m75;
    .fs60_m75;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1) {
    height: @height - 15px;
    padding-top: 15px;
    .fs60_m1;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    height: (@height - 15px) / @m15;
    padding-top: 15px / @m15;
    .fs60_m15;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    height: (@height - 15px) / @m2;
    padding-top: 15px / @m2;
    .fs60_m2;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    height: (@height - 15px) / @m3;
    padding-top: 15px / @m3;
    .fs60_m3;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: url("../img/menu.png") center center no-repeat ;
  @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
    height: @height / @m75;
    width: @height / @m75;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1) {
    height: @height;
    width: @height;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    height: @height / @m15;
    width: @height / @m15;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    height: @height / @m2;
    width: @height / @m2;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    height: @height / @m3;
    width: @height / @m3;
  }
}

.settings {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  background: url("../img/settings.png") center center no-repeat;
  @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
    height: @height / @m75;
    width: @height / @m75;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1) {
    height: @height;
    width: @height;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    height: @height / @m15;
    width: @height / @m15;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    height: @height / @m2;
    width: @height / @m2;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    height: @height / @m3;
    width: @height / @m3;
  }
}

.header_after {
  //clear: both;
  position: fixed;
  width: 100%;
  z-index: 2;
  .bg_white;
  opacity: 0.7;
  @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
    top: @height / @m75;
    height: @height / (2 * @m75);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1) {
    top: @height;
    height: @height / 2;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    top: @height / @m15;
    height: @height / (2 * @m15);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    top: @height / @m2;
    height: @height / (2 * @m2);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    top: @height / @m3;
    height: @height / (2 * @m3);
  }
}

.test {
  width: 100px;
  height: 100px;
  background-color: chocolate;
  border: 5px dashed fuchsia;
  position: relative;
}
.test:after {
//  @media screen and (-webkit-min-device-pixel-ratio: 1) {}
  position: relative;
  //content: 'ratio: 1';
  @media screen and (-webkit-min-device-pixel-ratio: 0.75)  {content: 'ratio: 0.75';}
  @media screen and (-webkit-min-device-pixel-ratio: 1)     {content: 'ratio: 1';}
  @media screen and (-webkit-min-device-pixel-ratio: 1.5)   {content: 'ratio: 1.5';}
  @media screen and (-webkit-min-device-pixel-ratio: 2)     {content: 'ratio: 2';}
  @media screen and (-webkit-min-device-pixel-ratio: 2.5)   {content: 'ratio: 2.5';}
  @media screen and (-webkit-min-device-pixel-ratio: 3)     {content: 'ratio: 3';}
  @media screen and (-webkit-min-device-pixel-ratio: 3.5)   {content: 'ratio: 3.5';}
}

.app {
  @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
    margin: @height / (2 * @m75) 0 @height / (2 * @m75) 0;
    padding: (@height / (2 * @m75)) 10% @height 10%;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1) {
    margin: @height 0 @height 0;
    padding: (@height / 2) 10% @height 10%;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    margin: @height / (2 * @m15) 0 @height / (2 * @m15) 0;
    padding: (@height / (2 * @m15)) 10% @height 10%;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    margin: @height / (2 * @m2) 0 @height / (2 * @m2) 0;
    padding: (@height / (2 * @m2)) 10% @height 10%;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    margin: @height / (2 * @m3) 0 @height / (2 * @m3) 0;
    padding: (@height / (2 * @m3)) 10% @height 10%;

  }
  .citation_text {
    .f_PFDinLight;
    .c_signal_black;
    line-height: 1.2;
    text-align: left;
    @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
      .fs40_m75;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 1) {
      .fs40_m1;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
      .fs40_m15;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .fs40_m2;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
      .fs40_m3;
    }

  }
  .textSource {
    .f_PFDinLight;
    .c_signal_black;
    @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
      .fs40_m75;
      margin-top: @height / (4 * @m75);
    }
    @media screen and (-webkit-min-device-pixel-ratio: 1) {
      .fs40_m1;
      margin-top: @height / 4;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
      .fs40_m15;
      margin-top: @height / (4 * @m15);
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .fs40_m2;
      margin-top: @height / (4 * @m2);
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
      .fs40_m3;
      margin-top: @height / (4 * @m3);
    }

  }
  .citation {
    .text {
      position: relative;
      background: url("../img/bg_dark_red.png");
      .c_white;
      .f_PFDinXBlack;
      line-height: 1;
      text-transform: uppercase;
      @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
        margin: @height / (2 * @m75) 0;
        padding: @height / (2 * @m75);
        .fs60_m75;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 1) {
        margin: @height / 2 0;
        padding: @height / 2;
        .fs60_m1;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
        margin: @height / (2 * @m15) 0;
        padding: @height / (2 * @m15);
        .fs60_m15;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        margin: @height / (2 * @m2) 0;
        padding: @height / (2 * @m2);
        .fs60_m2;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 3) {
        margin: @height / (2 * @m3) 0;
        padding: @height / (2 * @m3);
        .fs60_m3;
      }

      img {
        float: right;
        margin-top: 5px;
      }
    }
    .text:after {
      position: absolute;
      content: url("../img/citation_signature.png");
      bottom: @height / 2;
      left: @height / 2;
      @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
        bottom: @height / (2 * @m75);
        left: @height / (2 * @m75);
      }
      @media screen and (-webkit-min-device-pixel-ratio: 1) {
        bottom: @height / 2;
        left: @height / 2;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
        bottom: @height / (2 * @m15);
        left: @height / (2 * @m15);
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        bottom: @height / (2 * @m2);
        left: @height / (2 * @m2);
      }
      @media screen and (-webkit-min-device-pixel-ratio: 3) {
        bottom: @height / (2 * @m3);
        left: @height / (2 * @m3);
      }
    }
    .citation_share {
      width: 100%;
      @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
        margin: 0 0 @height / (3 * @m75) 0;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 1) {
        margin: 0 0 @height / 3 0;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
        margin: 0 0 @height / (3 * @m15) 0;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        margin: 0 0 @height / (3 * @m2) 0;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 3) {
        margin: 0 0 @height / (3 * @m3) 0;
      }

      .amen {
        float: left;
        .likes {
          float: left;
          text-align: left;
          padding-left: 5px;
        }
       }
      .share {
        float: right;
      }
      .amen, .share {
        width: 45%;
        text-align: center;
        .f_PFDinLight;
        text-transform: uppercase;
        line-height: 1;
        @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
          height: @height / (2 * @m75) - 5px / @m75 ;
          padding: 5px / @m75 0 0 0;
          .fs40_m75;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 1) {
          height: @height / 2 - 5px;
          padding: 5px 0 0 0;
          .fs40_m1;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
          height: @height / (2 * @m15) - 5px / @m15 ;
          padding: 5px / @m15 0 0 0;
          .fs40_m15;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
          height: @height / (2 * @m2) - 5px / @m2 ;
          padding: 5px / @m2 0 0 0;
          .fs40_m2;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 3) {
          height: @height / (2 * @m3) - 5px / @m3 ;
          padding: 5px / @m3 0 0 0;
          .fs40_m3;
        }
      }
      .on {
        background: url("../img/bg_dark_red.png");
        .c_white;
      }
      .off {
        .bg_gainsborough;
        .c_pearl;
      }
    }
    .creationDate {
      .c_signal_black;
      .f_PFDinLight;
      @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
        .fs60_m75;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 1) {
        .fs60_m1;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
        .fs60_m15;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        .fs60_m2;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 3) {
        .fs60_m3;
      }
    }
  }
}


.footer_before {
  width: 100%;
  position: fixed;
  .bg_white;
  opacity: 0.7;
  @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
    height: @height / (2 * @m75);
    bottom: @height / @m75;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1) {
    height: @height / 2;
    bottom: @height;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    height: @height / (2 * @m15);
    bottom: @height / @m15;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    height: @height / (2 * @m2);
    bottom: @height / @m2;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    height: @height / (2 * @m3);
    bottom: @height / @m3;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .bg_dark_r;
  @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
    height: @height / @m75;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1) {
    height: @height;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    height: @height / @m15;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    height: @height / @m2;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    height: @height / @m3;
  }

  .footer_btn {
    height: 100%;
    float: left;
    .f_PFDinLight;
    text-align: center;
    text-transform: uppercase;
    @media screen and (-webkit-min-device-pixel-ratio: 0.75) {
      padding: 15px / @m75 0 0 0;
      .fs60_m75;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 1) {
      padding: 15px 0 0 0;
      .fs60_m1;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
      padding: 15px / @m15 0 0 0;
      .fs60_m15;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      padding: 15px / @m2 0 0 0;
      .fs60_m2;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
      padding: 15px / @m3 0 0 0;
      .fs60_m3;
    }
  }
  .hadis {
      width: 30%;
      background: url("../img/bg_red_orange_right.png") right repeat-y,
      url("../img/bg_red_orange.png");
    }
  .book {
      width: 30%;
      background: url("../img/bg_dark_red_left.png") left repeat-y,url("../img/bg_dark_red_right.png") right repeat-y,
      url("../img/bg_dark_red.png");
    }
  .add {
      width: 40%;
      //.bg_dark_r;
      background: url("../img/bg_dark_red_left.png") left repeat-y,
      url("../img/bg_dark_red.png");
  }
  .on {
    .c_white;
  }
  .off {
    .c_krayola;
  }
}

.clear {
  clear: both;
}